.portfolio-homepage-hi-fi-container {
  min-height: 100vh;
}
.portfolio-homepage-hi-fi-portfolio-homepage-hi-fi {
  width: 100%;
  height: 5373px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-outside1 {
  top: 73px;
  left: 0px;
  width: 1440px;
  height: 1179px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-workstation21 {
  top: 1118px;
  left: 0px;
  width: 1440px;
  height: 1154px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-workstation2 {
  top: 4490px;
  left: 0px;
  width: 1440px;
  height: 726px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-wallyandme1 {
  top: 2258px;
  left: 0px;
  width: 1440px;
  height: 2246px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-text {
  top: 3062px;
  left: 816px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text002 {
  top: 3773px;
  left: 815px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text004 {
  top: 3361px;
  left: 452px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text006 {
  top: 4235px;
  left: 460px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-ellipse3 {
  top: 2948px;
  left: 712px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-ellipse4 {
  top: 3248px;
  left: 712px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-ellipse5 {
  top: 3662px;
  left: 712px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-ellipse6 {
  top: 4121px;
  left: 712px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-link {
  display: contents;
}
.portfolio-homepage-hi-fi-rectangle17 {
  top: 2500px;
  left: 197px;
  width: 354px;
  height: 199px;
  position: absolute;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-link01 {
  display: contents;
}
.portfolio-homepage-hi-fi-rectangle18 {
  top: 2500px;
  left: 906px;
  width: 336px;
  height: 199px;
  position: absolute;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-link02 {
  display: contents;
}
.portfolio-homepage-hi-fi-rectangle19 {
  top: 2499px;
  left: 571px;
  width: 315px;
  height: 202px;
  position: absolute;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-rectangle4 {
  top: 5216px;
  left: 0px;
  width: 1440px;
  height: 157px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle3 {
  top: 4618px;
  left: 236px;
  width: 968px;
  height: 519px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle2 {
  top: 896px;
  left: 269px;
  width: 902px;
  height: 600px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-text008 {
  top: 25px;
  left: 285px;
  color: rgba(0, 214, 70, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text010 {
  top: 5276px;
  left: 241.9716796875px;
  color: rgba(0, 214, 70, 1);
  height: auto;
  position: absolute;
  font-size: 30.68513298034668px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text012 {
  top: 27px;
  left: 681px;
  color: rgba(20, 207, 50, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text014 {
  top: 27px;
  left: 755px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text016 {
  top: 27px;
  left: 879px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text018 {
  top: 27px;
  left: 986px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text020 {
  top: 27px;
  left: 1087px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-exclude {
  top: 14.982421875px;
  left: 278.98681640625px;
  width: 51px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-link03 {
  display: contents;
}
.portfolio-homepage-hi-fi-exclude1 {
  top: 5261px;
  left: 232.745849609375px;
  width: 78px;
  height: 66px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text022 {
  top: 1046px;
  left: 292px;
  color: rgba(255, 255, 255, 1);
  width: 856px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 127.52273082733154%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text035 {
  top: 936.31494140625px;
  left: 667.7953491210938px;
  color: rgba(0, 214, 70, 1);
  height: auto;
  position: absolute;
  font-size: 52.536434173583984px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-exclude2 {
  top: 910px;
  left: 652px;
  width: 134px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-link04 {
  display: contents;
}
.portfolio-homepage-hi-fi-p-d-f-download-button {
  top: 1402px;
  left: 605px;
  width: 230px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #15cf33;
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(13, 21, 38, 1);
}
.portfolio-homepage-hi-fi-text037 {
  top: 16px;
  left: 53px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text039 {
  top: 1632px;
  left: 494px;
  color: rgba(255, 249, 249, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text040 {
  color: rgba(255, 249, 249, 1);
}
.portfolio-homepage-hi-fi-text041 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text043 {
  top: 1719px;
  left: 453px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text045 {
  top: 726px;
  left: 295px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text047 {
  top: 2340px;
  left: 551px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text048 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text049 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text051 {
  top: 2824px;
  left: 537px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text052 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text053 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text055 {
  top: 2417px;
  left: 495px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 139.023%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text056 {
  color: #ffffff;
}
.portfolio-homepage-hi-fi-text057 {
  color: #15cf33;
}
.portfolio-homepage-hi-fi-navlink {
  color: #15cf33;
}
.portfolio-homepage-hi-fi-text058 {
  top: 1840px;
  left: 376px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text060 {
  top: 1891px;
  left: 367px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text062 {
  top: 1942px;
  left: 346px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text064 {
  top: 1993px;
  left: 327px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text066 {
  top: 2044px;
  left: 386px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text068 {
  top: 2095px;
  left: 330px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text070 {
  top: 2146px;
  left: 329px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-rectangle10 {
  top: 1844px;
  left: 454px;
  width: 585px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle20 {
  top: 2955px;
  left: 718px;
  width: 5px;
  height: 1178px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle11 {
  top: 1895px;
  left: 454px;
  width: 585px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle12 {
  top: 1946px;
  left: 454px;
  width: 458px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle13 {
  top: 1997px;
  left: 454px;
  width: 514px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle14 {
  top: 2048px;
  left: 454px;
  width: 514px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle15 {
  top: 2099px;
  left: 454px;
  width: 30px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle16 {
  top: 2150px;
  left: 454px;
  width: 30px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-text072 {
  top: 1840px;
  left: 1048px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text074 {
  top: 1891px;
  left: 1048px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text076 {
  top: 1942px;
  left: 937px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text078 {
  top: 1993px;
  left: 990px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text080 {
  top: 2044px;
  left: 990px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text082 {
  top: 2095px;
  left: 631px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text084 {
  top: 2146px;
  left: 631px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text086 {
  top: 2949px;
  left: 816px;
  color: rgba(20, 207, 50, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text088 {
  top: 3660px;
  left: 815px;
  color: rgba(20, 207, 50, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text090 {
  top: 3248px;
  left: 531px;
  color: rgba(20, 207, 50, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text092 {
  top: 4120px;
  left: 580px;
  color: rgba(20, 207, 50, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text094 {
  top: 2982px;
  left: 816px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 132.52272605895996%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text099 {
  top: 3693px;
  left: 815px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 132.52272605895996%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text104 {
  top: 3281px;
  left: 332px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 132.52272605895996%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text109 {
  top: 4155px;
  left: 448px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 132.52272605895996%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text114 {
  top: 3096px;
  left: 816px;
  color: rgba(255, 255, 255, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 189.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text116 {
  top: 3807px;
  left: 815px;
  color: rgba(255, 255, 255, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 189.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text118 {
  top: 3399px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 189.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text123 {
  top: 4269px;
  left: 235px;
  color: rgba(255, 255, 255, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 189.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text125 {
  top: 284px;
  left: 287px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.5227313041687%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text126 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text130 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text131 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text135 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text136 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text140 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-text142 {
  top: 4767px;
  left: 242px;
  color: rgb(255, 255, 255);
  width: 956px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-text143 {
  font-weight: 400;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text144 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text145 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text146 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text147 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text148 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text149 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text150 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-link05 {
  text-decoration: underline;
}
.portfolio-homepage-hi-fi-link06 {
  text-decoration: underline;
}
.portfolio-homepage-hi-fi-text151 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text152 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-link07 {
  text-decoration: underline;
}
.portfolio-homepage-hi-fi-link08 {
  text-decoration: underline;
}
.portfolio-homepage-hi-fi-link09 {
  text-decoration: underline;
}
.portfolio-homepage-hi-fi-text153 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text154 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text155 {
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text156 {
  top: 5338px;
  left: 592px;
  color: rgba(255, 255, 255, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-link10 {
  display: contents;
}
.portfolio-homepage-hi-fi-linked-in {
  top: 5254px;
  left: 701px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-link11 {
  display: contents;
}
.portfolio-homepage-hi-fi-twitter {
  top: 5258px;
  left: 651px;
  width: 35px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-link12 {
  display: contents;
}
.portfolio-homepage-hi-fi-instagram {
  top: 5258px;
  left: 756px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-text158 {
  top: 4643px;
  left: 576px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.02273178100586%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio-homepage-hi-fi-text159 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-homepage-hi-fi-text160 {
  color: rgba(20, 207, 50, 1);
}
.portfolio-homepage-hi-fi-rectangle21 {
  top: 989px;
  left: 646px;
  width: 69px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle22 {
  top: 905px;
  left: 627px;
  width: 69px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-homepage-hi-fi-rectangle23 {
  top: 948px;
  left: 597px;
  width: 69px;
  height: 43px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
